
/* @media(max-width: 700px){ */

/* @media (max-width : 1199.98px) {
    .timeline h2{
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        color: #181818  ;
        margin-bottom: 10px;
    }
    .timeline p{
        font-size: 12px;
        line-height: 16px;
    }
    .timeline h4 {
        font-size: 16px;
        line-height: 14px;
    }
    .about__text {
        font-size: 14px;
     }
     .service__items{
        flex-wrap: wrap !important;
     }
     .service__item{
        max-width: 295px;
    }
    .service__item-title{
        
        font-size: 16px;
        
    }
    .advant-item .i1{
        height: 50% !important;
        width: 144% !important;
    }
    .advant-item .i2{
        height: 50% !important;
        width: 124% !important;
    }
    .advant-item .i3{
        height: 60% !important;
        width: 79% !important;
    }
    .news__inner{
        flex-wrap: wrap;
    }
} */

/* @media (max-width:991.98px){
    .about__inner{
        display: none;
        flex-wrap: wrap;
    }
    .news__inner{
     flex-wrap: wrap; 
        flex-direction: column;
    }
    .advant__inner,
    .adv__content,
    .cycle__inner{
        flex-wrap: wrap;
    }
    
}

@media (max-width:767.98px){

}

@media (max-width:575.98px){

} */

/* @media(max-width: 700px){
>>>>>>> Stashed changes
    .header__btn{
        float: none;
    }
    .header__contacts{
        text-align: center;
    }
    .header__btn::before{
        display: none;
    }
    .header__btn-menu{
        display: block;
    }
    .menu ul{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
}

@media(max-width: 400px){
    .header__btn::before{
        display: block;
    }
}

@media(max-width: 375px){
    .header__email{
        padding-right: 30px;
    }
}