*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


a{
    text-decoration: none !important; 
    display: inline-block;
}

ul,
li{
    list-style: none !important; 
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}


header{
    font-family: 'Roboto', sans-serif;
}
.header__top{
    background-color: #303030;
}

.header__btn{
    float: right;
    line-height: 36px;
    color: #fff;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    display: block;
    position: relative;
    transition: all .7s;
}
.header__btn:hover{
    color: #fff;
    background-color: #0b80d470;
}
.btn{
    background-color: #0168b4;
}
.header__btn::before{
    font-family: 'icomoon';
    content: "\f0b1";
    position: absolute;
    left: 22px;
    color: #fff;
}
.header__contacts:after{
    content: "";
    clear: both;
    display: block;
}

.header-item-lang-ru,
.header-item-lang-en{
    width: 20px;
    height: 18px;
}


.header__phone,
.header__email{
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}
.header__phone:hover,
.header__email:hover{
    color: #fff;
}

.header__phone{
    padding: 0px 20px 0 30px;
}
.header__phone::before{
    font-family: 'icomoon'; 
    content: "\f095";
    position: absolute;
    left: 0;
    color: #cbcacb;
}
.header__email{
    padding-left: 24px;
}
.header__email::before{
    font-family: 'icomoon'; 
    content: "\f003";
    position: absolute;
    left: 0;
    color: #cbcacb;
}

.header__btn-menu{
    display: none;
    font-size: 28px;
}
.header__content{
    padding: 34px 0px 23px;
}
.header__content-inner{
    display: flex;
    justify-content: space-between;
}
.menu li{
    display: inline-block;
}

.menu a{
    color: #323232;
    font-size: 14px;
    line-height: 36px;
    background-color: #fff;
    padding: 0px 16px;
    transition: all .7s;
}
.menu a:hover{
    background-color: #0169b470;
    color: #fff;
    /* #0169b470; */
}

.menu li + li{
    padding-left: 10px;
}

#modal{
    display: none;
}

/* slider */


.carousel-inner .carousel-item img{ 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 35vw;
    position: relative;
    filter: brightness(25%)
    
}

.slider__title{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}
.slider__text{
    line-height: 24px;
    font-size: 18px;
    color: #d3d2d2;
    margin-bottom: 50px;
}

.default-btn{
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid #0168b4;
    border-right-width: 20px;
    position: relative;
    outline: none;
}
.default-btn::after{
    content: "\f105";
    font-family: 'icomoon'; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}



/* service */

.service{
    padding: 50px 0px 30px;

}
#b{
    background: #f9f9f9;
}
.service__top,
.news__top, 
.timeline__top, 
.heading__top,
.cycle__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.service__title-box,
.form__title-box,
.news__title-box, 
.timeline__title-box,
.cycle__title-box,
.heading__title-box{
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.service__title-box::before,
.form__title-box::before,
.news__title-box::before, 
.timeline__title-box::before,
.cycle__title::before,
.heading__title-box::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #0168b4;
    left: 0;
    top: 11px;
}
.service__title,
.form__title,
.news__title, 
.timeline__title,
.cycle__title,
.heading__title{
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #212020;
    margin-bottom: 10px;
}
.service__text,
.form__text,
.news__text, 
.timeline__text, 
.cycle__text{
    letter-spacing: 0.1px;
    color: #5e5e5e;
}
.service__btn a,
.news__btn a{
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
}

/* items */

.img1{
    background-image: url(../IMG/service/бумага.png);
}
.img2{
    background-image: url(../IMG/service/картон_.png);
}
.img3{
    background-image: url(../IMG/service/крафтбумага.png);
}
.img4{
    background-image: url(../IMG/service/крафтлайнер.png);
}
.img5{
    background-image: url(../IMG/service/мелованнаябумага.png);
}
.img6{
    background-image: url(../IMG/service/флато.png);
}
.img7{
    background-image: url(../IMG/service/этикетка.png);
}
.img8{
    background-image: url(../IMG/service/самоклейка.png);
}
.img9{
    background-image: url(../IMG/service/офсетнаябумага.png);
}
.img10{
    background-image: url(../IMG/service/монди.png);
}
.img11{
    background-image: url(../IMG/service/5im.png);
}
.img12{
    background-image: url(../IMG/service/флато.png);
}


.service__items{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.service__item{
    max-width: 320px;
    height: 200px;
    width: 100%;
    text-align: center;
    padding: 30px 0px 80px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
    background-repeat: no-repeat;
    object-fit: cover;
}
.service__item:hover{
    box-shadow: 0px 7px 24.3px 2.7px #3d464d;
    /* #0168b4 */
}

.service__item-title{
    color: #fff;
    /* #212020 */
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding: 24px 0;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial", sans-serif;
}
.service__item-text{
    letter-spacing: 0.1px;
    padding: 0px 30px 30px;
}
.service__item-btn{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.service__item-btn .default-btn{
    color: #373636;
}
.service__item-btn .default-btn::after{
    color: #fff;
}
.service__item-link{
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #050505;
    margin-right: 60px;
}

/*  about company */



.about{
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    padding: 55px 0px 0px;
    background-size: cover; 
    object-fit: cover; 
    position: relative; 
}
.about::before{
    content: "";
      /* background: #f9f9f9; */
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.2;
}
.about__inner{
    display: flex;
    justify-content: space-between;
}
.about__inner-part1{
    max-width: 585px;
}

.inner__about{
    justify-content: space-between;
    margin: auto ;
}

.about__section1,
.about__section2{
    margin-bottom: 20px;
}

.about__section1{
    width: 230px;
    margin-left: 123px;
}
.about__section2{
    width: 220px;
}

.section1,
.section2,
.section3,
.section4{
    display: flex;
    justify-content: space-between;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 22px;
    color: #181818;
    font-size: 14px;
}
.about__title{
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
    font-size: 30px;
    line-height: 24px;
    color: #212020;
    font-weight: 500;
}
.about__text p{
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 22px;
    color: #181818;
    font-size: 16px;
 }
.xc{
    margin-bottom: 0 !important;
}


/* timeline */

.timeline{
    color: #FFF;
    padding: 10px 0;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    object-fit: cover; 
    position: relative; 
    /* margin-bottom: 10px; */
}
.timeline::before{
    content: "";
      background: #f9f9f9;
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      /* filter: brightness(25%) */
      /* opacity: 0.95; */
}
.timeline .timeline__top{
    margin-top: 40px;
    margin-bottom: 40px !important;
}
.timeline .timeline__title{
    color: #181818 !important;
}
.timeline .timeline__text{
    color: #181818;
}
.timeline .abc{
    display: flex;
    border-top: 2px solid #0168b4;
    position: relative;
    transform: rotate(180deg);
}
.timeline p b{
    font-size: 18px;
}
.timeline .abcd{
    display: flex;
    justify-content: space-between;  
    position: relative;
    margin-bottom: 30px;
}
.timeline .a1{
    padding: 15px;
    border-left: 2px solid #b90c0c;
    width: 80%;
    height: 235px;
    transform: rotate(180deg);
}.timeline .a2{
    padding: 15px;
    border-left: 2px solid #b90c0c;
    width: 80%;
    height: 255px;
    /* margin-bottom: 20px; */
    transform: rotate(180deg);
}.timeline .a3{
    padding: 15px;
    border-left: 2px solid #b90c0c;
    width: 80%;
    height: 160px;
    transform: rotate(180deg);
}
.timeline .a31{
    padding: 15px;
    border-left: 2px solid #b90c0c;
    width: 80%;
    height: 150px;
}.timeline .a4{
    padding: 15px;
    border-left: 2px solid #b90c0c;
    width: 80%;
    height: 310px;
    margin-bottom: 30px;
    
}.timeline .a5{
    padding: 15px;
    border-left: 2px solid #b90c0c;
    width: 80%;
    height: 245px;
}
.timeline .a6{
    padding: 15px;
    border-left: 2px solid #b90c0c;
    width: 80%;
    height: 265px;
}
.timeline h2{
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #181818  ;
    margin-bottom: 10px;
}
.timeline p{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #181818 ;
    
}
.timeline h4 {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #181818 ;
    font-weight: bold;
}


/* consultation */
/* advantages */
.adv{
    background: #f9f9f9;
    padding-top: 30px;
    padding-bottom: 30px;
}
.adv__a{
    text-align: center;
    font-size: 16px;
    width: 300px;
}

.adv__content{
    display: flex; 
    position: relative;
    align-items: center;
    align-self: center;
    justify-content: space-around;
}
.adv__content img{
    width: 60px;
    margin-bottom: 30px;
}
.adv__text{
    height: 36px;
}

.adv__imag{
    max-width: 300px;
    width: 100%;
}

/* consultation */

.form{
    padding-top: 30px;
    background: #f9f9f9;
}

.form__inner{
    padding-bottom: 40px;
    background-image: url(../IMG/woman.png);
    min-height: 460px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.form__box{
    max-width: 850px;
    padding-top: 45px;
}
.form__box-inner{
    display: flex;
    justify-content: space-between;
}
.form__box-left{
    max-width: 260px;
    width: 100%;
}
.form__box-right{
    max-width: 555px;
    width: 100%;
}
.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea,
.form__box-inner select{
     display: block;
     width: 100%;
} 

.form__box-inner label{
    line-height: 36px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
}
.form__box-inner input{
    margin-bottom: 8px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0 10px;
}
.form__box-inner select{
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding-left: 17px;
}
.form__box-inner .jq-selectbox.jqselect{
    display: block;
    width: 100%;
}
.form__box-inner .jq-selectbox__select{
    height: 40px;
    border: 1px solid #e6e6e6;
    padding-left: 17px;

}
.form__box-inner .jq-selectbox__trigger-arrow::before{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    right: 17px;
    top: 0;
    transform: rotate(90deg);
}
.form__box-inner  .jq-selectbox__dropdown{
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.form__box-inner .jq-selectbox li {
	min-height: 18px;
	padding: 5px 17px 6px;
	color: #231F20;
}
.form__box-inner .jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
.form__box-inner .jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
.form__box-inner .jq-selectbox li.disabled {
	color: #AAA;
}
.form__box-inner .jq-selectbox li.disabled:hover {
	background: none;
}
.form__box-inner .jq-selectbox li.optgroup {
	font-weight: bold;
}
.form__box-inner .jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.form__box-inner .jq-selectbox li.option {
	padding-left: 25px;
}

.form__box-inner textarea{
    outline: none;
    border: 1px solid #e6e6e6;
    height: 209px;
    padding: 10px;
    resize: none;
    margin-bottom: 40px;
}
.form__box-inner button{
    background-color: transparent;
    color: #282828;
    float: right;
}

/* advant */

.advant{
    padding: 55px 0px 40px;
    /* background-image: url(../IMG/3items.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    min-height: 285px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    object-fit: cover; 
    position: relative; 
}
 .advant::before{
    content: "";
    background-image: url(../IMG/3items.jpg);
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.7;
}
.advant__inner{
    color: #181818;
    text-align: center;
    display: flex;
    justify-content: space-around ! important;
}
.advant-item{
    max-width: 200px;
    width: 100%;
    padding: 0px 20px;
    position: relative;
}
.advant__title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 30px 0 15px;
}

.advant__text{
    line-height: 24px;
    color: #d3d2d2;
    letter-spacing: 0.1px;
}

/*  cycle */

.cycle{
    padding: 55px 0px 110px;
    background: #f9f9f9;
}

.cycle__inner{
    display: flex;
    justify-content: space-around;
}

.cycle__item{
    max-width: 255px;
    height: 350px;
    border: 3px solid #0168b4;
    border-radius: 4px;
    padding: 45px 1px;
    box-shadow:  0 2px 10px rgba(0, 0, 0, 0.272);
    position: relative;
}

.cycle__circle{
    position: absolute;
    width: 70px;
    height: 70px;
    background: #0168b4;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding-top: 24px;
    top: -15px;
    left: -14px;
    z-index: 0;
}

.c_inner{
    margin-top: 100px;
}
.cycle__blog-title{
    font-size: 18px;
    line-height: 24px;
    width: 240px;
    text-align: center;
    font-weight: bold;
    margin-top: 90px;
}
.cycle__images{
    text-align: center;
    margin-bottom: 30px;
}


/* news */ 

.news{
    padding: 55px 0px 65px;
    background-color: #fff;
} 
.news__inner{
    display: flex;
    justify-content: space-between;
}
.news__slider{
    max-width: 555px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128,127, 127, 0.13);
    padding: 60px 35px 45px 70px;
    position: relative;
}
.news__slider::before{
    position: absolute;
    content: "\f10e";
    font-family: 'icomoon';
    width: 65px;
    height: 30px;
    color: #fff;
    background-color: #0168b4;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    top: 0;
    left: 70px;

}
.news__blog{
    max-width: 260px;
    width: 100%;
}
.workers{
    max-width: 243px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128,127, 127, 0.13);
    margin: 10px;
    border-radius: 8px;
    margin-bottom: 30px;

}

.news__blog-title,
.news__blog-text{
    padding: 15px 13px;
}
.news__images{
    position: relative;
}
.news__date{
    position: absolute;
    background-color: #0168b4;
    height: 55px;
    width: 50px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    top: 0;
    left: 10px;
}

.news__blog-title{
    font-family: 'Roboto', sans-serif;
    color: #242424;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 500;
}
.news__blog-text{
    letter-spacing: 0.1px;
    color: #5e5e5e;
}
.news__slider-title{
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}
.news__slider-text{
    margin-bottom: 30px;
}
.news__slider-author{
    letter-spacing: 0.1px;
    color: #212020;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
} 



/* footer */


.footer__content{
    background-color: #595959;
    padding: 20px 0px 30px; 
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__inner .header__btn{
float: none;
display: block;
}
.footer__map{
    padding-top: 10px;
}

.footer__info{
    max-width: 360px;
}
.footer__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 36px;
    letter-spacing: 0.5px;
}
.footer__text{
    color: #d3d2d2;
    margin-bottom: 30px;
    
}
.footer__list{
    padding-top: 10px;
}
.footer__list li{
    margin-top: 10px;
}
.footer__list a{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 33px;
    position: relative;
}
.footer__list a::before{
    content: '\f003';
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #fff;
}
.footer__list .footer__phone::before{
    content: '\f095';   
}
.footer__list .footer__address::before{
    content: '\f041';   
}
.footer__list .header__btn::before{
    content: '\f0b1';
}


#modal{
    width: 300px;
}

#modal input{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#modal input[type="submit"]{
    background-color: #0168b4;
    color: #fff;
}


