*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 

a{
    text-decoration: none !important; 
    display: inline-block;
}

ul,
li{
    list-style: none !important; 
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    
}

body{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #5e5e5e;
    
}


header{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
}
.header__top{
    background-color: #303030;
}

.header__btn{
    float: right;
    line-height: 36px;
    color: #fff;
    padding: 5px 20px 4px 50px;
    font-size: 14px;
    display: block;
    position: relative;
    transition: all .7s;
}
.header__btn:hover{
    color: #fff;
    background-color: #0b80d470;
}
 .dropdown .btn{
    line-height: 36px;
    color: #cbcacb;
    /* padding: 5px 20px 4px 50px; */
    font-size: 14px;
    transition: all .7s;
    background: none !important;
    border: none;
} .dropdown .btn:hover{
    color: #fff;

}
.btn{
    background-color: #0168b4;
}
.header__btn::before{
    font-family: 'icomoon';
    content: "\f0b1";
    position: absolute;
    left: 22px;
    color: #fff;
}
.header__contacts:after{
    content: "";
    clear: both;
    display: block;
}

.header-item-lang-ru,
.header-item-lang-en{
    width: 20px;
    height: 18px;
}


.header__phone,
.header__email{
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}
.header__phone:hover,
.header__email:hover{
    color: #fff;
}

.header__phone{
    padding: 0px 20px 0 30px;
}
.header__phone::before{
    font-family: 'icomoon'; 
    content: "\f095";
    position: absolute;
    left: 0;
    color: #cbcacb;
}
.header__email{
    padding-left: 24px;
}
.header__email::before{
    font-family: 'icomoon'; 
    content: "\f003";
    position: absolute;
    left: 0;
    color: #cbcacb;
}

.header__btn-menu{
    display: none;
    font-size: 28px;
}
.header__logo img{
    width: 60px;
    height: 60px;
}
.header__content{
    padding: 18px 0px 12px;
    background-color: #fff;
}
.header__content-inner{
    display: flex;
    justify-content: space-between;
}


.menu li{
    display: inline-block;
}

.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    background-color: #fff;
    padding: 0px 16px;
    transition: all .7s;
    margin-left: 50px !important;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica",sans-serif;
}
.menu a:hover{
    background-color: #0169b470;
    color: #fff;
    /* #0169b470; */
}

.menu li + li{
    padding-left: 10px;
}

#modal{
    display: none;
}
/* #navbar */
.navbar{
    padding: 0 !important;
}
.navbar-nav a{
    font-size: 16px;
    line-height: 36px !important;
    background-color: #fff;
    padding: 0px 24px !important;
    transition: all .7s;
    color: #323232 !important;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica",sans-serif;
}
.navbar-nav a:hover{
    background-color: #0169b470;
    color: #fff !important;
    /* #0169b470; */
}
/* slider */

.carousel{
    margin-top: 135px;
}
.carousel-inner .carousel-item img{ 
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 35vw;
    position: relative;
    filter: brightness(25%)
    
}
.carousel-caption{
    position: absolute;
    height: 10em;
    margin: 0;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    top: 50%;
    left: 50% !important;
    margin-bottom: -50%;
    transform: translate(-50%, -50%); 
    z-index: 0 !important; 
}

.slider__title{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}
.slider__text{
    line-height: 24px;
    font-size: 18px;
    color: #d3d2d2;
    margin-bottom: 50px;
}

.default-btn{
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica",sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid #0168b4;
    border-right-width: 20px;
    position: relative;
    outline: none;
}
.default-btn::after{
    content: "\f105";
    font-family: 'icomoon'; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}



/* service */

.service{
    padding: 50px 0px 30px;

}
#b{
    background: #f9f9f9;
}
.service__top,
.news__top, 
.timeline__top, 
.heading__top{  
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.service__title-box,
.form__title-box,
.news__title-box, 
.timeline__title-box,
.cycle__title-box,
.heading__title-box{
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.service__title-box::before,
.form__title-box::before,
.news__title-box::before, 
.timeline__title-box::before,
.cycle__title::before,
.heading__title-box::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #0168b4;
    left: 0;
    top: 11px;
}
.service__title,
.form__title,
.news__title, 
.timeline__title,
.cycle__title,
.heading__title{
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #212020;
    margin-bottom: 10px;
}
.service__text,
.form__text,
.news__text, 
.timeline__text, 
.cycle__text{
    letter-spacing: 0.1px;
    color: #5e5e5e;
}
.service__btn a,
.news__btn a{
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
}

/* items */

.img1{
    background-image: url(../IMG/service/бумага.png);
}
.img2{
    background-image: url(../IMG/service/картон_.png);
}
.img3{
    background-image: url(../IMG/service/крафтбумага.png);
}
.img4{
    background-image: url(../IMG/service/крафтлайнер1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    object-fit: cover; 
}
.img5{
    background-image: url(../IMG/service/мелованнаябумага.png);
}
.img6{
    background-image: url(../IMG/service/топлайнер.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    object-fit: cover;
}
.img7{
    background-image: url(../IMG/service/этикетка.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    object-fit: cover;
}
.img8{
    background-image: url(../IMG/service/самоклейка.png);
}
.img9{
    background-image: url(../IMG/service/офсетнаябумага.png);
}
.img10{
    background-image: url(../IMG/service/IMG_3224.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    object-fit: cover; 
}
.img11{
    background-image: url(../IMG/service/5im.png);
}
.img12{
    background-image: url(../IMG/service/IMG_3233.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    object-fit: cover;
}


.service__items{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.service__item{
    max-width: 320px;
    height: 200px;
    width: 100%;
    text-align: center;
    padding: 30px 0px 80px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
}
.service__item:hover{
    box-shadow: 0px 7px 24.3px 2.7px #3d464d;
    /* #0168b4 */
}
.service__item-title{
    visibility: hidden;
}
.service__item:hover .service__item-title{
    visibility: visible; 
    color: #fff;
    /* #212020 */
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding: 24px 0;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial", sans-serif;
    
}
.service__item-text{
    letter-spacing: 0.1px;
    padding: 0px 30px 30px;
}
.service__item-btn{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.service__item-btn .default-btn{
    color: #373636;
}
.service__item-btn .default-btn::after{
    color: #fff;
}
.service__item-link{
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #050505;
    margin-right: 60px;
}

/*  about company */



.about{
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    padding: 55px 0px 0px;
    background-size: cover; 
    object-fit: cover; 
    position: relative; 
}

.about__inner{
    display: flex;
    justify-content: space-between;
}
.about__inner-part1{
    max-width: 585px;
}

.about__section1,
.about__section2{
    margin-bottom: 70px;
}

.about__section1{
    width: 250px;
    margin-left: 123px;
    
}
.about__section2{
    width: 230px;
}
.section1{
    margin-top: 30px;
}
.section2{
    margin-top: 30px;
}
.section1,
.section2{
    display: flex;
    justify-content: space-between;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica",sans-serif;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 22px;
    color: #181818;
    font-size: 16px;
    text-align: center;
}
.about__title{
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
    font-size: 30px;
    line-height: 24px;
    color: #212020;
    font-weight: 500;
    margin-bottom: 10px;
}
.about__text p{
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 22px;
    color: #181818;
    font-size: 16px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica",sans-serif;
 }
.xc{
    margin-bottom: 0 !important;
}
/* .about1 {
    background: #f9f9f9;
} */
.about1{
   background-image: url(../IMG/bg.jpg);
   background-size: cover; 
   object-fit: cover; 
   position: relative; 
   background-repeat: no-repeat;
}
.info{
    padding: 30px 0 20px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid #0168b4; */
    text-align: center;
    
}
.info22{
    width: 200px;
}
.info2500{
    width: 320px;
}

.info .inf1{
   width: 720px;
    display: flex;
    justify-content: space-between;
}
.info .inf2{
    width: 620px;
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
}
.info-inner{
    width: 230px;
}
.info-inner .about__title{
   margin: 5px;
}
  .info-inner p{
    color: #181818;
  } 
 
/* timeline */

.timeline{
    color: #FFF;
    padding: 10px 0;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    object-fit: cover; 
    position: relative; 
    /* margin-bottom: 10px; */
}
.timeline::before{
    content: "";
      background: #f9f9f9;
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      /* filter: brightness(25%) */
      /* opacity: 0.95; */
}
.timeline .timeline__top{
    margin-top: 40px;
    margin-bottom: 40px !important;
}
.timeline .timeline__title{
    color: #181818 !important;
}
.timeline .timeline__text{
    color: #181818;
}
.timeline .abc{
    display: flex;
    border-top: 2px solid #0168b4;
    position: relative;
    transform: rotate(180deg);
}
.timeline p b{
    font-size: 18px;
}
.timeline .abcd{
    display: flex;
    justify-content: space-between;  
    position: relative;
    margin-bottom: 30px;
}
.timeline .a1{
    padding: 15px;
    border-left: 2px solid #b90c0c;
    width: 80%;
    height: 250px;
    transform: rotate(180deg);
}.timeline .a2{
    padding: 15px;
    border-left: 2px solid #b90c0c;
    width: 80%;
    height: 270px;
    /* margin-bottom: 20px; */
    transform: rotate(180deg);
}.timeline .a3{
    padding: 15px;
    border-left: 2px solid #b90c0c;
    width: 80%;
    height: 170px;
    transform: rotate(180deg);
}
.timeline .a31{
    padding: 15px;
    border-left: 2px solid #b90c0c;
    width: 80%;
    height: 150px;
}.timeline .a4{
    padding: 15px;
    border-left: 2px solid #b90c0c;
    width: 80%;
    height: 340px;
    margin-bottom: 30px;
    
}.timeline .a5{
    padding: 15px;
    border-left: 2px solid #b90c0c;
    width: 80%;
    height: 330px;
}
.timeline .a6{
    padding: 15px;
    border-left: 2px solid #b90c0c;
    width: 80%;
    height: 275px;
}
.timeline h2{
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #181818  ;
    margin-bottom: 10px;
}
.timeline p{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #181818 ;
    
}
.timeline h4 {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica",sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #181818 ;
    font-weight: bold;
}


/* consultation */
/* advantages */
.adv{
    background: #f9f9f9;
    padding-top: 30px;
    padding-bottom: 30px;
}
.adv__a{
    text-align: center;
    font-size: 16px;
    width: 300px;
}

.adv__content{
    display: flex; 
    position: relative;
    align-items: center;
    align-self: center;
    justify-content: space-around;
}
.adv__content img{
    width: 60px;
    margin-bottom: 30px;
}
.adv__text{
    height: 45px;
    font-size: 16px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica",sans-serif;
}

.adv__imag{
    max-width: 300px;
    width: 100%;
}

/* consultation */

.form{
    padding-top: 30px;
    background: #f9f9f9;
}

.form__inner{
    padding-bottom: 40px;
    min-height: 460px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.form__box{
    max-width: 850px;
    padding-top: 45px;
    margin: 0 auto;
}
.form__box-inner{
    display: flex;
    justify-content: space-between;
}
.form__box-left{
    max-width: 260px;
    width: 100%;
}
.form__box-right{
    max-width: 555px;
    width: 100%;
}
.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea,
.form__box-inner select{
     display: block;
     width: 100%;
} 

.form__box-inner label{
    line-height: 36px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
}
.form__box-inner input{
    margin-bottom: 8px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0 10px;
}
.form__box-inner select{
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding-left: 17px;
}
.form__box-inner .jq-selectbox.jqselect{
    display: block;
    width: 100%;
}
.form__box-inner .jq-selectbox__select{
    height: 40px;
    border: 1px solid #e6e6e6;
    padding-left: 17px;

}
.form__box-inner .jq-selectbox__trigger-arrow::before{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    right: 17px;
    top: 0;
    transform: rotate(90deg);
}
.form__box-inner  .jq-selectbox__dropdown{
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.form__box-inner .jq-selectbox li {
	min-height: 18px;
	padding: 5px 17px 6px;
	color: #231F20;
}
.form__box-inner .jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
.form__box-inner .jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
.form__box-inner .jq-selectbox li.disabled {
	color: #AAA;
}
.form__box-inner .jq-selectbox li.disabled:hover {
	background: none;
}
.form__box-inner .jq-selectbox li.optgroup {
	font-weight: bold;
}
.form__box-inner .jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.form__box-inner .jq-selectbox li.option {
	padding-left: 25px;
}

.form__box-inner textarea{
    outline: none;
    border: 1px solid #e6e6e6;
    height: 209px;
    padding: 10px;
    resize: none;
    margin-bottom: 40px;
}
.form__box-inner button{
    background-color: transparent;
    color: #282828;
    float: right;
}

/* advant */

.advant{
    padding: 55px 0px 40px;
    /* background-image: url(../IMG/3items.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    min-height: 285px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    object-fit: cover; 
    position: relative; 
     
}
.carousel-indicators{
    bottom: -40px !important;
    margin: 5px 0 5px;
}
.carousel-control-prev{
    left: -65px !important;
}
.carousel-control-next {
    right: -65px !important;
}
.carousel-indicators li{
    border-radius: 50% !important;
    width: 7px !important;
    height: 7px !important;
}
.advant .carousel1, .carousel-item1{
    width: 500px;
    height: 285px;
    margin-top: 0;
}
.carousel-item1 img{
    width: 500px !important;
    height: 285px !important;
    object-fit: contain !important;
}
.carousel-caption1{
    position: absolute;
    height: 10em;
    margin: 0;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    top: 50%;
    left: 50% !important;
    margin-bottom: -50%;
    transform: translate(-50%, -50%); 
    z-index: 0 !important; 
    
}
 .advant::before{
    content: "";
    background-image: url(../IMG/3items.jpg);
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.7;
}
.advant__inner{
    color: #181818;
    text-align: center;
    display: flex;
    justify-content: space-around ! important;
}
.advant-item{
    max-width: 200px;
    width: 100%;
    padding: 0px 20px;
    position: relative;
}
.advant-item .i1{
    height: 60% ;
    width: 144% ;
}
.advant-item .i2{
    height: 60% ;
    width: 126% ;
}
.advant-item .i3{
    height: 60% ;
    width: 81% ;
}.advant-item .i4{
    height: 60% ;
    width: 91% ;
}
.advant__title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 30px 0 15px;
}

.advant__text{
    line-height: 24px;
    color: #d3d2d2;
    letter-spacing: 0.1px;
}

/*  cycle */
/* .cycle__top .btn{
    background: #000;
    width: 300px;
    height: 50px;
} */
.cycle__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.cycle__top .btn1{
    max-width: 255px;
    height: 40px;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #5e5e5e;
    font-weight: 500;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica",sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid #0168b4;
    border-right-width: 20px;
    position: relative;
    outline: none;
}
.cycle__top .btn1::after{
    color:#0168b4;
    content: "\f105";
    font-family: 'icomoon'; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}
.cycle{
    padding: 55px 0px 80px;
    background: #f9f9f9;
}

.cycle__inner{
    display: flex;
    justify-content: space-around;
    
}

.cycle__item{
    max-width: 255px;
    height: 350px;
    border: 3px solid #0168b4;
    border-radius: 4px;
    padding: 45px 1px;
    box-shadow:  0 2px 10px rgba(0, 0, 0, 0.272);
    position: relative;
}

.cycle__circle{
    position: absolute;
    width: 70px;
    height: 70px;
    background: #f9f9f9;
    border: 2px solid #0168b4;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 10px #5e5e5e;
    color: #0168b4;
    font-size: 20px;
    padding-top: 24px;
    top: -15px;
    left: -14px;
    z-index: 0;
}

.c_inner{
    margin-top: 100px;
}
.cycle__blog-title{
    font-size: 18px;
    line-height: 24px;
    width: 240px;
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
}
.cycle__images{
    text-align: center;
    margin-bottom: 30px;
}
.cycle__images img{
    height: 90px;
    width: 90px;
}
.cycle__inner1{
    display: flex;
    justify-content: space-evenly;
}

.cycle__item1{
    max-width: 200px;
    height: 200px;
    border: 3px solid #b90c0c;
    border-radius: 40px;
    padding-top: 30px;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.272);
    position: relative;
    margin-top: 40px;
    left: 40%;
}
.cycle__item2{
    max-width: 200px;
    height: 200px;
    border: 3px solid #0168b4;
    border-radius: 40px;
    padding-top: 30px;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.272);
    position: relative;
    left: -2%;
    margin-top: 40px;
}.cycle__item2 img{
    height: 60px;
    width: 60px;
}.cycle__circle2{
    position: absolute;
    width: 70px;
    height: 70px;
    background: #f9f9f9;
    border: 2px solid #0168b4;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 10px #5e5e5e;
    color: #0168b4;
    font-size: 20px;
    padding-top:16px;
    top: -15px;
    left: -14px;
    z-index: 0;
}
.cycle__circle1 img{
    max-width: 25px !important;
    max-height: 25px !important;
    color: #b90c0c !important;
}

.collapse{
    background-color: #f9f9f9;
}
.cycle__blog-title1{
    font-size: 15px;
    line-height: 19px;
    width: 200px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.cycle__blog-title3{
    font-size: 15px;
    line-height: 19px;
    width: 200px;
    text-align: center;
    margin-top: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.cycle__blog-title2{
    font-size: 15px;
    line-height: 19px;
    width: 200px;
    text-align: center;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.cycle__images1{
    text-align: center;
    margin-bottom: 45px;
}
.cycle__images1 img{
    max-width: 60px;
    max-height: 60px;
}
/* video */
.video{
    background-color: #f9f9f9;
    height: 450px;
}
video {
    object-fit: cover;
    aspect-ratio: 16 / 9;
    padding-top: 5px;
    filter: brightness(35%);
}
/* news */ 

.news{
    padding: 55px 0px 65px;
    background-color: #fff;
} 
.news__inner{
    display: flex;
    justify-content: space-around;
    max-width: 1216px;
}
.news__inner1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.inner__news{
    display: flex;
    justify-content: space-around;
}

.news__slider{
    max-width: 555px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128,127, 127, 0.13);
    padding: 60px 35px 45px 70px;
    position: relative;
}
.news__slider::before{
    position: absolute;
    content: "\f10e";
    font-family: 'icomoon';
    width: 65px;
    height: 30px;
    color: #fff;
    background-color: #0168b4;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    top: 0;
    left: 70px;

}
.news__blog{
    max-width: 260px;
    width: 100%;
}
.workers{
    max-width: 280px;
    /* width: 100%; */
    background: #fff;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128,127, 127, 0.13);
    margin: 10px;
    border-radius: 8px;
    margin-bottom: 30px;

}
.staff img{
    width: 280px;  
    border-start-end-radius: 8px; 
    border-start-start-radius: 8px; 
    border-end-start-radius: 4px; 
    border-end-end-radius: 4px;
}
.sales img{
    filter: brightness(75%);
}

.blog__images img{
    max-width: 243px;
    /* filter: brightness(80%); */
}

.news__blog-title,
.news__blog-text{
    padding: 15px 13px;
}
.news__images,
.blog__images{
    position: relative;
}
.news__date{
    position: absolute;
    background-color: #0168b4;
    height: 55px;
    width: 50px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    top: 0;
    left: 10px;
}

.news__blog-title{
    font-family: 'Roboto', sans-serif;
    color: #242424;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 500;
}
.news__blog-text{
    letter-spacing: 0.1px;
    color: #5e5e5e;
    line-height: 22px;
}
.news__slider-title{
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}
.news__slider-text{
    margin-bottom: 30px;
}
.news__slider-author{
    letter-spacing: 0.1px;
    color: #212020;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
} 



/* footer */


.footer__content{
    background-color: #303030;
    padding: 20px 0px 30px; 
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__inner .header__btn{
float: none;
display: block;
}
.footer__map{
    padding-top: 10px;
}

.footer__info{
    max-width: 360px;
}
.footer__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    line-height: 36px;
    letter-spacing: 0.5px;
}
.footer__text{
    color: #d3d2d2;
    margin-bottom: 30px;
    
}
.footer__list{
    padding-top: 10px;
}
.footer__list li{
    margin-top: 10px;
}
.footer__list a{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 33px;
    position: relative;
}
.footer__list a::before{
    content: '\f003';
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #fff;
}
.footer__map iframe{
    max-width: 650px;
    height: 250px;
}
.footer__list .footer__phone::before{
    content: '\f095';   
}
.footer__list .footer__address::before{
    content: '\f041';   
}
.footer__list .header__btn::before{
    content: '\f0b1';
}


#modal{
    width: 300px;
    border-radius: 20px;
}

#modal input{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 10px;
}

#modal input[type="submit"]{
    background-color: #0168b4;
    color: #fff;
    width: 186px;
}
@media screen and (max-width: 1899.98px) {
    .cycle__item2{
        left: -1.5%;
    }
    /* .about1{
        visibility: hidden;
    } */

}
@media (max-width: 1899.98px){
    .about__section1{
        width: 250px;
    }
}
@media (max-width : 1199.98px) {
    .header__content-inner{
        justify-content: space-between;
        padding: 0 30px;
    }
    .cycle__item2{
        left: 0.5%;
    }
    .navbar-nav a{
        font-size: 14px;
        line-height: 36px;
        background-color: #fff;
        padding: 0px 16px;
        
    }
    .timeline h2{
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        color: #181818  ;
        margin-bottom: 10px;
    }
    .timeline p{
        font-size: 12px;
        line-height: 16px;
    }
    .timeline h4 {
        font-size: 16px;
        line-height: 14px;
    }.about__section1{
        width: 130px;
    }
    .about__section1,
    .about__section2{
    margin-bottom: 25px;
}
    .about__text, .about__text p {
        font-size: 14px;
        margin-bottom: 25px;
     }
     /* .service__items{
        flex-wrap: wrap !important;
     } */
     .service__item{
        max-width: 295px;
        min-height: 350px;
    }
    .service__item-title{
        /* #212020 */
        font-size: 16px;
        
    }
    .advant-item .i1{
        height: 50% ;
        width: 144% ;
    }
    .advant-item .i2{
        height: 50% ;
        width: 124% ;
    }
    .advant-item .i3{
        height: 50% ;
        width: 79% ;
    }.advant-item .i4{
        height: 50% ;
        width: 81% ;
    }
    .cycle__item{
        max-width: 230px;
        height: 330px;
    }.cycle__blog-title{
        width: 220px;
    }
    .news__inner{
        /* flex-wrap: wrap; */
        font-size: 14px;
    }.news__blog {
        max-width: 220px;
        width: 100%;
    } 
    .adv__text{
        font-size: 14px;
    }.adv__imag img{
        max-width: 285px;
        width: 100%;
    }
    .footer__info, .footer__info a{
        font-size: 14px;
    }
    .form__box{
        max-width: 700px;
    }
    .form__box-right{
        max-width: 400px;
        width: 100%;
    }
}
@media (max-width: 1138.98px){
    .blog__images img{
        max-width: 200px;
    }
    .news__slider{
        margin-bottom: 40px;
        max-width: 500px;
    }
}
 @media (max-width:991.98px){
    .carousel-item1 img {
        height: 220px !important;
        object-fit: contain !important;
    }
    .carousel-indicators {
        bottom: 5px !important;
        margin: 5px 0 5px;
    }
    .navbar-nav a{
        font-size: 14px;
        line-height: 36px !important;
        background-color: #fff;
        padding: 0px 10px !important;
        transition: all .7s;
        color: #323232 !important;
    }
    .navbar-toggler{
        margin-bottom: 5px;
    }
     .slider__title{
        font-size: 24px ;
    }.slider__text{
        line-height: 20px;
        font-size: 16px ;
        color: #d3d2d2;
        margin-bottom: 35px;
    }.default-btn{
        padding: 5px 25px 5px 20px;
    }
    .about__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .news__inner{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
    /* .advant__inner,
    .adv__content, 
    .cycle__inner{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    } */
    .timeline h2{
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        color: #181818  ;
        margin-bottom: 8px;
    }
    .timeline p{
        font-size: 10px;
        line-height: 14px;
    }
    .timeline h4 {
        font-size: 14px;
        line-height: 12px;
    }
    .inner__about{
        max-width: 992px;
        padding-bottom: 10px;
        display: flex;
        /* justify-content: start; */
        /* border-top: 2px solid #0168b4; */
        
    }
    .inner__about .section1{
       width: 300px;
       margin-left: 0;
    }
    .about__section1 {
        margin: 0;
    }
    .about__section2 {
        margin-bottom: 0;
    }
    .inner__about .section2{
        width: 300px;
       
    }
    .about__section2,
    .about__section1{
        height: 123px;
        width: 200px;
    }
    .info-inner .about__title{
       margin: 5px;
    }
      .info-inner p{
        color: #181818;
      } 
     /* .service__items{
        flex-wrap: wrap !important;
     } */
     .service__item{
        max-width: 250px;
        min-height: 240px;
        width: 100%;
        background-position: center;
    }
    .service__item-title{
        /* #212020 */
        font-size: 16px;
        
    }
    .workers{
        width: 260px;
        margin: 0 auto;
        margin-bottom: 20px;
    }.advant{
        padding-bottom: 0;
    }
    .advant-item .i1{
        height: 50% !important;
        width: 144% !important;
    }
    .advant-item .i2{
        height: 50% !important;
        width: 124% !important;
    }
    .advant-item .i3{
        height: 50% !important;
        width: 79% !important;
    }.advant-item .i4{
        height: 50% ;
        width: 91% ;
    }
    .cycle__item{
        max-width: 210px;
        height: 310px;
    }.cycle__blog-title{
        font-size: 16px;
        width: 195px;
        font-weight: normal;
    }
    .news__inner{
        /* flex-wrap: wrap; */
        font-size: 14px;
    }.news__blog {
        max-width: 260px;
        width: 250px;
        width: 100%;
    } .news__images img{
        max-width: 260px;
    }
    .adv__text{
        font-size: 14px;
    }.adv__imag img{
        max-width: 285px !important;
        width: 100% !important;
    }
    .footer__info, .footer__info a{
        font-size: 14px;
    }
    .form__box{
        max-width: 700px;
    }
    .form__box-right{
        max-width: 400px;
        width: 100%;
    }.footer__map iframe{
        max-width: 500px ;
        height: 250px ;
    }
} 
@media (max-width:972px){
    .cycle__item1{
        left: 39%;
    }
}
@media (max-width:890px){
    .cycle__item1{
        left: 38%;
    }
    .cycle__item{
        max-width: 220px;
        height: 300px;
    }
    /* .cycle__circle{
        width: 60px;
        height: 60px;
        padding-top: 19px;
    } */
    .cycle__inner{
        display: grid;
    grid-gap: 35px;
    grid-template-columns: auto auto;
    }
   .c_inner{
    display: grid;
    grid-gap: 35px;
    grid-template-columns: auto auto;
    margin-top: 35px;
   }
    .advant-item{
        max-width: 180px;
    }
    .footer__map iframe{
        max-width: 450px;
        height: 250px ;
    }
    .blog__inner{
        display: block;
    }.news__slider{
        max-width: 890px;
    }.news__blog{
        max-width: 300px;
    }.inner__news{
        justify-content: space-evenly;
    }
    .blog__images img{
        max-width: 280px;
    }
    .news__inner1{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:800px){
    .about__title {
        font-size: 24px;
    }
    .cycle__item1{
        left: 37%;
    }
    .slider__title{
        font-size: 20px ;    
        margin-bottom: 10px;

    }.slider__text{
        line-height: 20px;
        font-size: 14px;
        color: #d3d2d2;
        margin-bottom: 20px;
    }.default-btn{
        padding: 5px 25px 5px 20px;
    }
    .service__item{
        max-width: 200px;
        min-height: 180px;
        width: 100%;
        background-position: center;
    }
    .service__item-title{
        /* #212020 */
        font-size: 14px;
        
    }
    .form__inner{
        background: #f9f9f9;
    }.footer__map iframe{
        max-width: 350px;
        height: 200px ;
    }
}

@media (max-width:742.98px){
    
    .advant{
        min-height: 245px;
    }
    .advant-item{
        max-width: 155px;
    }
    .adv__content{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(1)
    }
    .about__section2,
    .about__section1{
        height: 123px;
        width: 112px;
    }
    .section2,
    .section1{
        justify-content: space-around;
    }
    .cycle__item1{
        left: 35%;
    }
    .cycle__item{
        max-width: 200px;
        height: 200px;
        padding: 20px 1px;
    }
    .cycle__circle{
        width: 50px;
        height: 50px;
        padding-top: 15px;
    }
    .cycle__blog-title{
        width: 170px;
        font-size: 13px;
        margin-top: 40px;
    }
    .cycle__images img{
        height: 70px;
        width: 60px;  
    }
    .cycle__images .cy_img{
        height: 80px;
        width: 70px;
    }
    .cycle__images {
        text-align: center;
        margin-bottom: 0;
    }
    .cycle__top .btn1 {
        max-width: 220px;
        height: auto;
        font-size: 11px;
        line-height: 19px;
        padding: 5px 10px 5px 10px;
    }
    .workers{
        margin: 0 auto;
        margin-bottom: 20px;
        width: 230px;
    }
    .form__box-inner input{
        width: 230px;
    }
    .footer__inner{
        display: block;
    }
    .footer__map iframe{
        margin-top: 25px;
        max-width: 500px;
    }

 .news__images img{
    max-width: 230px !important;
 }
.service__title, 
.form__title, 
.news__title, 
.timeline__title, 
.cycle__title, 
.heading__title {
    font-size: 22px;
}
.slider__title{
    font-size: 16px;
    margin-bottom: 0;
}.slider__text{
    font-size: 12px;
    margin-bottom: 10px;
}.default-btn{
    font-size: 12px;
    padding: 5px 25px 5px 20px;
}
}

@media (max-width:646.98px){
    .carousel-item1 img {
        width: 390px !important;
        height: 240px !important;
        object-fit: contain !important;
    }
    .advant .carousel1, .carousel-item1 {
        width: 390px;
    }
    .about__title{
        font-size: 20px;
    }
    .about__text{
        font-size: 14px;
    }
    /* .section2{
        display: block;
    } */
    .inner__about{
        display: grid;
    }
    .inner__about .section1,
    .inner__about .section2{
        width: 500px;
    }
    .slider__title{
        font-size: 16px;
        margin-bottom: 0;
    }.slider__text{
        font-size: 12px;
        margin-bottom: 10px;
    }.default-btn{
        font-size: 12px;
        padding: 5px 25px 5px 20px;
    }
    .cycle__item1{
        left: 33%;
    }
    .cycle__item2{
        left: 33%;
    }
    .c_inner1{
        display: block;
        justify-content: center;
        
    }
    .service__item{
        max-width: 180px;
        min-height: 150px;
        width: 100%;
        background-position: center;
    }
    .service__item-title{
        /* #212020 */
        font-size: 12px;
        
    }.advant{
        padding-top: 40px;
        min-height: 210px;
    }
    .advant-item{
        max-width: 140px;
    }
    .advant__title{
        font-size: 14px;
    }
    .service__title, 
.form__title, 
.news__title, 
.timeline__title, 
.cycle__title, 
.heading__title {
    font-size: 20px;
}
.header__btn{
    font-size: 12px;
    /* width: 200px; */
}
.header__btn::before{
    font-size: 12px;
}
.header__contacts{
    font-size: 12px;
}
   
}

@media (max-width: 626px){
    .timeline p {
        font-size: 8px;
        line-height: 11px;
    }
}
@media (max-width: 590px){
    .carousel{
        margin-top: 142px;
    }
    .header__content {
        padding: 15px 0px 15px;
    }
    .carousel-caption {
        top: 40%;
    }
    body{
        font-size: 12px !important;
    }
    .about,
    .info{
        font-size: 10px;
    }
    .footer__text{
        font-size: 12px;
    }
    .news__slider{
        font-size: 12px;
    }
    .header__btn{
        font-size: 10px;
        padding: 5px 10px 5px 40px; 
        /* width: 200px; */
    }
    .header__btn::before{
        font-size: 10px;
    }
    .header__contacts{
        font-size: 10px;
    }
    .service__item{
        max-width: 150px;
        height: 120px;
    }
    .slider__title{
        font-size: 14px;
        margin-bottom: 0;
    }
    .slider__text{
        font-size: 10px;
        
    }

    .default-btn{
        font-size: 10px;
        padding: 0 10px 0 10px;
    }
    .cycle__top .btn1{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 10px;
    }
    .cycle__blog-title {
        width: 150px;
        font-size: 12px;
        margin-top: 40px;
    }
    .cycle__circle {
        width: 45px;
        height: 45px;
        padding-top: 12px;
    }
    .cycle__item {
        width: 160px;
        height: 200px;
        padding: 20px 1px;
        margin-bottom: 30px;
    }
    .c_inner1, .cycle__inner1{
        display: grid;
        justify-content: center;
        
    }
    .cycle__item2 {
        left: 0%;
    }
    .cycle__item1 {
        left: 30%;
    }
    .service__title, 
.form__title, 
.news__title, 
.timeline__title, 
.cycle__title, 
.heading__title {
    font-size: 16px;
}
    .inner__about {
    max-width: 500px;
    }
    .news__inner, .news__inner1 {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .news__blog-title{
        font-size: 14px;
    }
    .news__blog{
        width: 150px;
        font-size: 10px;
    }
    .news__date {
        height: 32px;
        padding-top: 10px;
    }
    .blog__images img {
        max-width: 150px;
    }
    .info-inner {
        width: 230px !important;
        margin: 0 auto;
    } 
    .info{
        display: grid;
        /* justify-content: none;  */
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__map iframe{
        margin-top: 25px;
        max-width: 400px;
    }
}
@media (max-width: 517px){
    .carousel-item1 img {
        width: 300px !important;
        height: 220px !important;
        object-fit: contain !important;
    }
    .carousel-indicators {
        bottom: 15px !important;
    }
    .carousel-control-next {
        right: -50px !important;
    }
    .carousel-control-prev {
        left: -50px !important;
    }
    .advant .carousel1, .carousel-item1 {
        width: 300px;
    }
    .timeline p {
        font-size: 7px;
        line-height: 10px;
    }
    .inner__about {
        max-width: 250px;
        justify-content: center;
    }
    .inner__about .section1, 
    .inner__about .section2 {
        width: 360px;
    }
    .footer__map iframe{
        margin-top: 25px;
        max-width: 280px;
    }
    .form__box-inner input {
        width: 209px;
    }
    .cycle__item1 {
        left: 26%;
    }
    .timeline  {
        display: none;
    }
}
@media (max-width: 482px){
    .carousel{
        margin-top: 187px;
    }
    .service__title-box::before,
    .form__title-box::before,
    .news__title-box::before, 
    .timeline__title-box::before,
    .cycle__title::before,
    .heading__title-box::before{
        width: 50px;
        height: 1px;
    }
    .carousel-inner .carousel-item img {
        height: 49vw;
    }
    .service__title-box, 
    .form__title-box, 
    .news__title-box, 
    .timeline__title-box, 
    .cycle__title-box, 
    .heading__title-box {
        max-width: 280px;
        padding-left: 60px;
    }

    .carousel-caption {
        max-width: 330px;
        top: 45%;
    }
    .header__phone{
        padding: 0px 20px 0 24px;
    }
    .header__phone, .header__email {
        line-height: 30px;
    }.header__btn {
        padding: 0 20px 0 24px
    }
    .header__btn::before {
        left: 0px;
    }
    .header__contacts{
        display: grid;
    }
    .default-btn {
        font-size: 8px;
        padding: 0 10px 0 10px;
    }
    .slider__text {
        font-size: 8px;
    }
    .slider__title{
        font-size: 12px;
    }
    .service__items{
        display: block;
        margin-bottom: 0;
    }
    .service__item{
        max-width: 220px;
        height: 230px;
        margin: 0 auto;
    }
    .advant__inner{
        display: grid;
        margin: 0 auto;
    }
    .ai1{
        right: 15%;
        margin-bottom: 10px;
    }
    /* .news__images img {
        max-width: 170px !important;
    } */
    .workers {
        font-size: 10px;

    }
    .cycle__inner, .c_inner{
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    
    .news__blog-title, 
    .news__blog-text {
        padding: 8px 13px;
    }
    .about__text, .about__text p {
        font-size: 10px;
        margin-bottom: 15px;
    }
    .about__title {
        font-size: 15px;
    }
    .info{
        display: grid;
        /* justify-content: none;  */
        grid-template-columns: repeat(1, 1fr);
    }

}
@media (max-width: 420px){
    .carousel{
        margin-top: 187px;
    }
    .form__box-inner input {
        width: 130px;
    }
    .inner__about .section1, 
    .inner__about .section2 {
        width: 260px;
    }
    .cycle__item1 {
        left: 20%;
    }
    .service__item {
        max-width: 195px;
        height: 205px;
        margin: 0 auto;
    }
    .carousel-item1 img {
        width: 260px !important;
        height: 240px !important;
    }
    .advant .carousel1, .carousel-item1 {
        width: 260px;
    }
    .carousel-control-next {
        right: -40px !important;
    }
    .carousel-control-prev {
        right: -40px !important;
    }
    .carousel-indicators {
        bottom: 5px !important;
    }


}
@media (max-width: 340px){
    .advant .carousel1, .carousel-item1 {
        width: 235px;
    }   
}
@media (max-width: 320px){
 
    .cycle__item1 {
        left: 10%;
    }
    .carousel-caption {
        max-width: 300px;
        top: 40%;
    }
    .slider__text {
        font-size: 6px;
       
        line-height: 15px;
    }
    .slider__title{
        font-size: 12px;
    }
    .default-btn {
        font-size: 6px;
        padding: 0;
    }

}






